<div class="container">
    <div class="row"><h1 class="col">Контакты</h1></div>
    <div class="row">
        <cache><div class="col-md-6" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/971/taganrog/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Таганрог</a><a href="https://yandex.ru/maps/971/taganrog/?from=api-maps&ll=38.829614%2C47.202343&mode=usermaps&origin=jsapi_2_1_78&um=constructor%3A1092688aed4cf79bd4ffdcb57043ad528804b9210cd4676258567249a4a6c050&utm_medium=mapframe&utm_source=maps&z=12" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — поиск мест и адресов, городской транспорт</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUUmMAlOC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div></cache>
        <div class="col-md-6">
            <p class="h3">Адрес офиса «ЦДиЮ«МИР»</p>
            <p>Ростовская область, г.Таганрог, ул.Капитана Кравцова, 2/Дзержинского, 119</p>
            <p>Электронный почтовый адрес: mir@center-mir.ru</p>
            <p>Телефон: 8-800-300-65-54 (многоканальный)</p>
            <p>8 (8634) 311-117, 8 (919) 875-30-50</p>

        </div>
    </div>
</div>