@model List<Voucher>
@{
    ViewData["Title"] = "Home Page";
}



<div class="container marketing">

    <div class="text-center">
        <h1 class="display-4">Санаторно оздоровительный комлекс МИР</h1>
        <p><a href="~/Order/Index" class="btn btn-light">Заказать путевку</a></p>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">Мир неограниченных возможностей</h2>
            <p class="lead">
                Лучшей инклюзивной программой организации детского отдыха и оздоровления признан проект «Мир неограниченных возможностей»,
                впервые реализованный  в августе 2019 года в рамках государственной программы Десятилетия детства
                и регионального проекта «Особенное детство – обычная жизнь».Целью инновационного проекта стало создание эффективной модели реабилитации
                и социализации детей с ограниченными возможностями здоровья и детей-инвалидов.
            </p>
        </div>
        <div class="col-md-5">
            <img src="/img/1-img.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Карта личностного роста</h2>
            <p class="lead">
                Лучшей программно-методической разработкой психолого-педагогического сопровождения организации детского отдыха  признана «Карта личностного роста».  Инновационная разработка педагогов и психологов лагеря не имеет аналогов в «лагерной» педагогике.

                Этот методический инструмент позволяет бережно выявлять наклонности каждого ребенка, отслеживать его значимые достижения, формировать портфолио полученных в лагере знаний и умений, которыми ребенок может не только заслуженно гордиться, но и  развить их потом в своей взрослой жизни.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/2-img.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">451 градус по Фаренгейту</h2>
            <p class="lead">
                В номинации  «Лучшие методические материалы физкультурно-спортивной направленности организации детского отдыха 2019 года» Диплома 2 степени удостоен сценарий квест-игры «451 градус по Фаренгейту».

                Оригинальность сценарного построения игровой программы заключается в редком сочетании интеллектуального, физического и нравственного триединства развития ребенка: квест-игра знакомит с литературным произведением, входящим в список 100 лучших произведений мировой классики, дает возможность каждому участнику примерить на себя роль огнеборца — спасателя книг, накапливать добрые поступки и обретать друзей.
            </p>
        </div>
        <div class="col-md-5">
            <img src="/img/3-img.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
