@model bool

    <div class="modal fade" id="ModalStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(Model ? "Успешно" : "Ошибка")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@(Model ? "Заказ сделан успешно. В ближайшее время с вами свяжется менеджер, для уточнения деталей заказа. Спасибо!" : "В выбраной смене закончились места, выберите другую смену.")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">На главную</button>
                </div>
            </div>
        </div>
    </div>